.DS_Store
/out/production/SecuritySystem-Android/SecuritySystem-Android.afp.apk
/out/production/SecuritySystem-Android/SecuritySystem-Android.apk
/out/production/SecuritySystem-Android/SecuritySystem-Android.unaligned.apk
*.DS_Store
*.class